<a href="https://colab.research.google.com/github/al-imran-sonet/CSE495A-Introduction-to-Robotics-/blob/main/Python_basics/First_session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Basics elements of Python programming
1. Data type (int ,float, string, boolean)
2. Variables name

In [ ]:
a=1
b=2.3
c="imran"
d= True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(a,b,c,d)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
1 2.3 imran True

Showing output (printing text and values )

In [ ]:
print(f"{a} is an int value ")  #f_string
print("the float number is ",b)
print(a,b,c,d)
print(a,b,c,d, sep=",")

1 is an int value
the float number is  2.3
1 2.3 imran True
1,2.3,imran,True

Input from user and type casting

In [ ]:
name=input("enter your name ")
print(name)
num=input("enter a number ")
print(type(num))
print(num)
num=int(num)
print(type(num))
print(num)

enter your name d
d
enter a number 22
<class 'str'>
22
<class 'int'>
22

In [ ]:
x,y= input("enter 2 numbers ").split() #multiple input
print(x,y)

enter 2 numbers 2 3
2 3

Operators
  1. Assignment operator
  2. Logical operator
  3. Compartison operator
  4. Arithmatic operator
  5. Identity operator
  6. Membership operator
  7. Bistwise operator

In [ ]:
# Arithmatic operator

a=4
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)  # floor division
print(a%b)  # modulus (remender)
print(a**b)  # a to the power b

9
-1
20
0.8
0
4
1024

In [ ]:
# Comparison operatort

print("a is equal to b ",a==b)
print("a is not equal to b ",a!=b)
print("a is  equal to b ",a>=b)
print("a is  equal to b ",a<=b)

a is equal to b  False
a is not equal to b  True
a is  equal to b  False
a is  equal to b  True

In [ ]:
# logical operator
a=True
b=False
c=True

print(a and b)
print(a or b)
print(not c )

False
True
False

In [ ]:
# assignment operator
x=10
print(x)
x+=10
print(x)
x-=10
print(x)
x*=10
print(x)
x**=1.5
print(x)
x/=10
print(x)
x//=10
print(x)
x%=10
print(x)

10
20
10
100
1000.0
100.0
10.0
0.0

In [ ]:
a=[1,2,3,4]
b= a
c=[1,2,3,4]
print(a is b)
print(a is c)
print(a is not c)

True
False

In [ ]:
# Membership operator
a="apple "
print("a" in a)
print("x" not in a)

True
True

String and methods

In [ ]:
name="i am imraN "
na="sonet"
print(name)
print(name.upper())
print(name.lower())
print(name.capitalize())
print(name.title())
print(name.replace("a","1"))
print(name+" "+na)

i am imraN
I AM IMRAN
i am imran
I am imran
I Am Imran
i 1m imr1N
i am imraN  sonet

Control Statement

In [ ]:
n= 10

if n%2==0:
  print("even")
else:
  print("odd")

even

In [ ]:
marks= 100

if marks>=90:
  if marks>=95:
    print("A+")
  else:
    print("A")

elif marks>=80 and marks<90:
  print("B")
elif marks>=70 and marks<80:
  print("C")
else:
  print("sad you failed ")

A+

List []


1.   List is mutable
2.   List allowed duplicate elements
3.   Ordered
4.   indexed

In [42]:
fruits=["apple", "banana","mango"]
print(fruits)

empty=[]
print(empty)

mixed=[1,2,3.444,"imran"]
print(mixed)

['apple', 'banana', 'mango']
[]
[1, 2, 3.444, 'imran']

In [51]:
m=[]
m.append("orange")
m.append("mango") #add item at the end
print(m)
print("length ",len(m))

m.remove("orange")
print(m)
print("length ",len(m))

m.insert(0,"banana") # insert at spacific location
print(m)

m.sort()
print(m)

m.reverse()
print(m)

print("orange" in m)
print(m.index("banana"))

['orange', 'mango']
length  2
['mango']
length  1
['banana', 'mango']
['banana', 'mango']
['mango', 'banana']
False
1

In [53]:
num=[1,2,3,4,5,6]
print(sum(num))
print(max(num))
print(min(num))

21
6
1

2D List

In [59]:
matrix=[[1,2]]
print(matrix)
print(type(matrix))   # 1*2

[[1, 2]]
<class 'list'>

In [60]:
mat=[[1,2],
     [3,6],
     [90,34]]
print(mat)    # 3*2

[[1, 2], [3, 6], [90, 34]]

Loop
1.  for loop
2.  while loop

In [65]:
for i in range(10):   # by default it will start from 0
  print(i)

for i in range(2,10):  # It will make a boundary
  print(i)

for i in range(2, 100, 2):  # range(start, end, step count)
  print(i)

0
1
2
3
4
5
6
7
8
9
2
3
4
5
6
7
8
9
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [67]:
i =0
while i<=10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10

In [69]:
for i in range(0,10):
  for j in range(0,10):
    print(i ,",",j ,"  ", end="")
  print("")

0 , 0   0 , 1   0 , 2   0 , 3   0 , 4   0 , 5   0 , 6   0 , 7   0 , 8   0 , 9
1 , 0   1 , 1   1 , 2   1 , 3   1 , 4   1 , 5   1 , 6   1 , 7   1 , 8   1 , 9
2 , 0   2 , 1   2 , 2   2 , 3   2 , 4   2 , 5   2 , 6   2 , 7   2 , 8   2 , 9
3 , 0   3 , 1   3 , 2   3 , 3   3 , 4   3 , 5   3 , 6   3 , 7   3 , 8   3 , 9
4 , 0   4 , 1   4 , 2   4 , 3   4 , 4   4 , 5   4 , 6   4 , 7   4 , 8   4 , 9
5 , 0   5 , 1   5 , 2   5 , 3   5 , 4   5 , 5   5 , 6   5 , 7   5 , 8   5 , 9
6 , 0   6 , 1   6 , 2   6 , 3   6 , 4   6 , 5   6 , 6   6 , 7   6 , 8   6 , 9
7 , 0   7 , 1   7 , 2   7 , 3   7 , 4   7 , 5   7 , 6   7 , 7   7 , 8   7 , 9
8 , 0   8 , 1   8 , 2   8 , 3   8 , 4   8 , 5   8 , 6   8 , 7   8 , 8   8 , 9
9 , 0   9 , 1   9 , 2   9 , 3   9 , 4   9 , 5   9 , 6   9 , 7   9 , 8   9 , 9

Usage of loop in accessing list

In [75]:

li=["imran ","ankon ", "rajon ", "hayder"]
print(li)

for i in range(len(li)):
  print(li[i],", ", end="")
print("")

for i in li:
  print(i,", ", end="")

['imran ', 'ankon ', 'rajon ', 'hayder']
imran  , ankon  , rajon  , hayder ,
imran  , ankon  , rajon  , hayder ,

In [76]:
for i in range(2):
  print(i)
else:
  print("ok bye")

0
1
ok bye

List Slicing