<a href="https://colab.research.google.com/github/al-imran-sonet/CSE495A-Introduction-to-Robotics-/blob/main/Python_basics/First_session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Basics elements of Python programming
1. Data type (int ,float, string, boolean)
2. Variables name

In [3]:
a=1
b=2.3
c="imran"
d= True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(a,b,c,d)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
1 2.3 imran True

Showing output (printing text and values )

In [7]:
print(f"{a} is an int value ")  #f_string
print("the float number is ",b)
print(a,b,c,d)
print(a,b,c,d, sep=",")

1 is an int value
the float number is  2.3
1 2.3 imran True
1,2.3,imran,True

Input from user and type casting

In [13]:
name=input("enter your name ")
print(name)
num=input("enter a number ")
print(type(num))
print(num)
num=int(num)
print(type(num))
print(num)

enter your name d
d
enter a number 22
<class 'str'>
22
<class 'int'>
22

In [12]:
x,y= input("enter 2 numbers ").split() #multiple input
print(x,y)

enter 2 numbers 2 3
2 3

Operators
  1. Assignment operator
  2. Logical operator
  3. Compartison operator
  4. Arithmatic operator
  5. Identity operator
  6. Membership operator
  7. Bistwise operator

In [16]:
# Arithmatic operator

a=4
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)  # floor division
print(a%b)  # modulus (remender)
print(a**b)  # a to the power b

9
-1
20
0.8
0
4
1024

In [21]:
# Comparison operatort

print("a is equal to b ",a==b)
print("a is not equal to b ",a!=b)
print("a is  equal to b ",a>=b)
print("a is  equal to b ",a<=b)

a is equal to b  False
a is not equal to b  True
a is  equal to b  False
a is  equal to b  True

In [23]:
# logical operator
a=True
b=False
c=True

print(a and b)
print(a or b)
print(not c )

False
True
False

In [27]:
# assignment operator
x=10
print(x)
x+=10
print(x)
x-=10
print(x)
x*=10
print(x)
x**=1.5
print(x)
x/=10
print(x)
x//=10
print(x)
x%=10
print(x)

10
20
10
100
1000.0
100.0
10.0
0.0

In [28]:
a=[1,2,3,4]
b= a
c=[1,2,3,4]
print(a is b)
print(a is c)
print(a is not c)

True
False

In [30]:
# Membership operator
a="apple "
print("a" in a)
print("x" not in a)

True
True

String and methods

In [33]:
name="i am imraN "
na="sonet"
print(name)
print(name.upper())
print(name.lower())
print(name.capitalize())
print(name.title())
print(name.replace("a","1"))
print(name+" "+na)

i am imraN
I AM IMRAN
i am imran
I am imran
I Am Imran
i 1m imr1N
i am imraN  sonet

Control Statement

In [34]:
n= 10

if n%2==0:
  print("even")
else:
  print("odd")

even

In [39]:
marks= 100

if marks>=90:
  if marks>=95:
    print("A+")
  else:
    print("A")

elif marks>=80 and marks<90:
  print("B")
elif marks>=70 and marks<80:
  print("C")
else:
  print("sad you failed ")

A+